@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Seoge UI-Semibold";
  src: url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/Semibold/latest.woff2);
}
@font-face {
  font-family: "Seoge UI";
  src: url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2);
}
body,
ul,
li,
p {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Seoge UI-Semibold";
}
* {
  box-sizing: border-box;
}
.mobile-nav-child {
  display: flex;
  align-items: center;
  padding-top: 2px;
}
.menu-button {
  height: 48px;
  display: flex;
  align-items: center;
}
.menu-line {
  width: 20px;
  height: 1px;
  background-color: black;
  margin: 4px 14px;
}
.search-icon img {
  width: 16px;
  height: 18px;
}
.search-icon {
  width: 34px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.mobile-nav-logo img {
  width: 108px;
  padding: 12px 4px;
}
.mobile-nav {
  position: relative;
}
.mobile-nav-logo {
  position: absolute;
  top: 0;
  left: calc(50% - 59px);
}
.des-nav {
  display: none;
}

/* nav ends here  */

.azure-bar {
  height: 34px;
  padding: 0 16px;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
}
.azure-bar p {
  padding-top: 2px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Seoge UI-Semibold";
}
.azure-bar span {
  font-size: 22px;
  font-weight: 500;
  padding-left: 11px;
  margin-top: -6px;
}
.hero-banner-mobile {
  background: linear-gradient(
    90deg,
    rgb(237, 232, 246) 0%,
    rgb(244, 250, 253) 49.99%,
    rgb(220, 238, 248) 100%
  );
  padding-bottom: 56px;
}
.banner-mobile img {
  width: 100%;
  object-fit: cover;
}
.banner-mobile {
  margin-bottom: -4px;
}
.mobile-banner-row-1 {
  padding: 0 16px;
  box-sizing: border-box;
}
.margin_32-col {
  margin-top: 32px;
}
.azure-preheading {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.96px;
  color: #17253d;
  font-family: "Seoge UI-Semibold";
}
.azure-banner-heading {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -1.6px;
  color: #0e1726;
  margin: 0;
}
.azure-banner-content {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.54px;
  font-weight: 400;
  margin-top: 16px;
  padding-right: 16px;
}
.banner-buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
}
.button-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: rgb(0, 120, 212);
  border-radius: 8px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.button-blue span {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.3px;
  padding-bottom: 2px;
  font-family: "Seoge UI-Semibold";
}
.button-green {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: rgb(137, 196, 2);
  border-radius: 8px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.button-green span {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.3px;
  padding-bottom: 2px;
  font-family: "Seoge UI-Semibold";
}
.hero-banner-des {
  display: none;
}
.secondary-nav {
  background: #fefefe;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.secondary-nav-child {
  display: flex;
  align-items: center;
}
.secondarynav-child-part-1 {
  display: flex;
  gap: 48px;
  align-items: center;
  width: 100%;
}
.container {
  padding: 0 16px;
}
.dropdown-button {
  display: flex;
  box-sizing: border-box;
  padding: 11px 12px;
  margin: 4px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #0078d4;
}
.dropdown-button-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #004275;
  display: block;
  font-family: "Seoge UI-Semibold";
}
.dropdown-button span {
  font-size: 22px;
  margin-top: -8px;
  color: #004275;
}
.try-azure-button {
  padding: 4px 12px;
  border: 2px solid transparent;
  background: #89c402;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  height: 36px;
  box-sizing: border-box;
}
.try-azure-button span {
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 2px;
  font-weight: 600;
  font-family: "Seoge UI-Semibold";
  letter-spacing: -0.3px;
  text-wrap: nowrap;
}
.dropdown-button:nth-child(n + 2) {
  display: none;
}
.section-one {
  padding: 56px 0;
  background: #f4fafd;
}
.section-one-container {
  padding: 0 16px;
}
.section-preheading {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
  letter-spacing: 0.96px;
  line-height: 16px;
  font-family: "Seoge UI-Semibold";
  color: #17253d;
}
.section-heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #0e1726;
  letter-spacing: -1.2px;
}
.featured-news-grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
  padding: 0 4px 0 0;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
  background: #fefefe;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #e6f2fb;
  box-sizing: border-box;
}

.featured-news-img img {
  aspect-ratio: 1.77778;
  object-fit: fill;
  max-width: 100%;
  border-radius: 8px;
}
.featured-news-img {
  overflow: hidden;
  padding: 8px 8px 0;
}
.card-content {
  padding: 16px;
}
.featured-news-card-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.54px;
  font-family: "Seoge UI-Semibold";
  color: #0e1726;
}
.featured-news-card-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #17253d;
  margin-top: 12px;
}

.featured-news-buttons {
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 8px;
}
.caret-right {
  padding: 8px;
  background: #0078d4;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  display: inline-flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.caret-right span {
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
  margin-top: -7px;
}
.featured-text-button {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 2px;
  line-height: 20px;
  letter-spacing: -0.48px;
  color: #004275;
  font-family: "Seoge UI-Semibold";
}
.section-two-container {
  padding: 0 16px;
}
.solutions-column {
  margin-top: 24px;
}
.solutions-columns {
  margin-top: 32px;
}
.scrollable-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.scroll-item {
  padding: 8px 16px;
  border-radius: 200px;
  margin: 0 8px 0 0;
  box-sizing: border-box;
  background: rgb(0 85 151 / 10%);
}
.scroll-item span {
  color: #004275;
  font-family: "Seoge UI-Semibold";
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.3px;
  text-wrap: nowrap;
  padding-bottom: 2px;
}
.scroll-item:nth-child(1) {
  background-color: #005597;
}
.scroll-item:nth-child(1) span {
  color: #fff;
}
.solution-second-column-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding-bottom: 24px;
}
.solution-second-column-content {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-weight: 400;
  color: #002948;
  margin-bottom: 24px;
}
.explore-azure-link {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 2px;
  line-height: 20px;
  font-family: "Seoge UI-Semibold";
  color: #004275;
  text-decoration: underline;
  margin-bottom: 24px;
}

.video-preview-img {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-preview-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/2;
  border-radius: 16px;
}
.play-button {
  position: absolute;
  padding: 14px;
  background-color: #0078d4;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button img {
  width: 20px;
  height: 20px;
}
.solutions-dropdown-item {
  font-family: "Seoge UI-Semibold";

  padding: 24px 0;
  border-bottom: 1px solid #bdc5d2;
}
.solutions-columns {
  margin-top: 24px;
}
.solutions-dropdown-item span {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.54px;
}
.solutions-item-first-child {
  display: none;
}
.solutions-dropdown-item:nth-child(2) {
  border-top: 1px solid #bdc5d2;
}
.section-two {
  background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_mobile-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=720&hei=1990&qlt=100&fmt=png-alpha&fit=constrain);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-three-container {
  padding: 56px 16px;
  background: #f4fafd;
}
.products-services-column {
  margin-top: 24px;
}
.product-service-img img {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 16px;
}
.product-service-img {
  position: relative;
  border-radius: 16px;
}
.product-service-row-1 {
  border-radius: 16px;
  overflow: hidden;
}
.product-grid-content {
  position: absolute;
  top: 0;
  background: linear-gradient(
    rgba(4, 13, 18, 0) 0%,
    rgba(4, 13, 18, 0.8) 93.59%
  );
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.product-service-column-heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -1.2px;
  color: #fff;
}
.product-service-column-content {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  color: #fff;
}
.product-grid-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
}
.product-service-column-button {
  background: #b3daf0;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
}
.product-service-column-button span {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #0e1726;
}
.product-service-grid {
  display: grid;
  margin-top: 12px;
  row-gap: 12px;
  grid-template-columns: 1fr;
}
.product-service-grid-item {
  padding: 16px;
  box-sizing: border-box;
}
.product-service-item-img {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.product-service-item-img img {
  width: 24px;
  height: 24px;
}
.product-grid-item-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.48px;
  margin-bottom: 12px;
}
.product-grid-item-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.48px;
  margin-bottom: 12px;
}
.product-grid-item-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.48px;
  padding-bottom: 2px;
  text-decoration: underline;
  color: #004275;
}
.gartnerimg {
  padding: 8px 8px 0;
}
.gartnerimg img {
  width: 100%;
  border-radius: 8px;
}
.gartner-content-heading {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: 32px;
}
.gartner-contents-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.48px;
  margin-top: 12px;
}
.gartner-button {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  background: #0078d4;
  width: fit-content;
  margin-top: 12px;
  margin-bottom: 32px;
}
.gartner-button span {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 22px;
  padding-bottom: 2px;
  color: #fff;
}
.gartner-contents {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resources-preheading {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.96px;
  margin-bottom: 12px;
  padding-top: 48px;
  text-align: center;
  font-family: "Seoge UI-Semibold";
  line-height: 16px;
}
.resources-heading {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1.4px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 24px;
}
.resources-scrollable-container-parent {
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 8px 0 8px 8px;
}
.resources-scrollable-container {
  display: flex;
  width: 1328px;
}
.resource-scroll-item-text span {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-wrap: nowrap;
}
.resource-scroll-item {
  width: 220px;
  border: 1px solid #bdc5d2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;
  background-color: #fff;
}
.resource-scroll-item-text {
  padding: 12px 16px 16px;
  border: none;
  background-color: #fff;
  width: 100%;
}
.products-services-column {
  padding-right: 4px;
}
.section-four-container {
  background-color: #f4fafd;
}
.section-seven-container {
  background-color: #f4fafd;
}
.resource-scroll-item:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #bdc5d2;
  border-bottom: 4px solid #0078d4;
}
.section-five-container {
  background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Mobile-Interactive-Demo-BG?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=720&hei=1390&qlt=100&fmt=png-alpha&fit=constrain);
  background-size: cover;
  background-repeat: no-repeat;
}
.resourse-by-role-img img {
  width: 100%;
  border-radius: 8px;
}
.resourse-by-role-img {
  padding: 16px;
  margin-top: 24px;
  background: rgb(255 255 255 / 10%);
  border-radius: 8px;
}
.resourse-by-role-button {
  justify-content: center;
  margin-top: 12px;
}
.resource-by-role-heading {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 28px;
  text-align: center;
}
.resource-by-role-column {
  padding-top: 24px;
  padding-bottom: 48px;
}
.section-six-container {
  background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-AzureRegions-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=983&qlt=95&fmt=png-alpha&fit=constrain);
  background-position: center;
  background-size: cover;
  padding: 56px 0;
}
.azure-global-column {
  padding-right: 4px;
}
.azure-global-heading {
  color: #f4fafd;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1.6px;
  line-height: 40px;
  text-align: center;
  font-family: "Seoge UI-Semibold";
}
.azure-global-contents {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.54px;
  padding: 0 16px;
  text-align: center;
  color: #f4fafd;
  margin-top: 16px;
}
.azure-global-button span {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  padding-bottom: 2px;
  color: #0e1726;
}
.azure-global-button {
  padding: 12px;
  margin-top: 24px;
  width: 100%;
  background: #b3daf0;
  border-radius: 8px;
  border: 2px solid transparent;
  text-align: center;
}
.customer-column {
  margin-top: 24px;
}
.customer-scrollable-container-parent {
  overflow-x: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent;
  scroll-snap-type: x mandatory;
}

.customer-scrollable-container {
  display: grid;
  width: 400%;
  column-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.customer-scrollable-item {
  max-width: calc(100vw - 16px);
  scroll-snap-align: center;
}
.customer-grid {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.customer-grid-img img {
  width: 100%;
  border-radius: 8px;
}
.customer-grid-img {
  padding: 8px 8px 0;
}
.customer-item-flex {
  padding: 16px;
}
.customer-logo img {
  border: 1px solid #bdc5d2;
  border-radius: 8px;
}
.customer-text {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 28px;
  text-align: left;
  margin-top: 12px;
}
.cutomer-product-heading {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 24px;
  padding-top: 8px;
}
.customer-flex-item-2 {
  margin-top: 24px;
  height: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  flex-wrap: wrap;
}

.product {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.product span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.48px;
  text-decoration: underline;
  color: #0067b8;
}
.case-study-button span {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 22px;
  overflow-wrap: break-word;
  padding-bottom: 2px;
  color: #fff;
  text-align: center;
}
.case-study-button {
  background: #0078d4;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  margin-top: 24px;
  text-align: center;
}
.section-seven-container {
  padding: 48px 0;
}
.arrow-buttons {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}
.arrow-button img {
  height: 20px;
  width: 20px;
}
.arrow-button {
  padding: 12px 14px 12px 14px;
  border-radius: 50%;
  border: 1px solid #000;
  box-sizing: border-box;
}
.customer-section-nav {
  display: none;
}
.next-step-card-item-contents {
  padding: 16px;
}
.next-step-card-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.54px;
  line-height: 24px;
  margin-bottom: 12px;
  font-family: "Seoge UI-Semibold";
}
.next-step-card-content {
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  letter-spacing: -0.48px;
  line-height: 24px;
}
.next-step-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}
.next-step-column {
  margin-top: 32px;
}
.next-step-heading {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1.4px;
  line-height: 36px;
  display: block;
  text-align: center;
}
.section-final-container {
  padding: 56px 0;
  background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Mobile-3up-icon-card-BG?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=720&hei=1648&qlt=100&fmt=png-alpha&fit=constrain);
  background-size: cover;
}
.section-pre-footer {
  padding: 24px 0;
}
.get-azure-button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.get-azure-button span {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.azure-mobile-app {
  box-sizing: border-box;
  width: fit-content;
}
.get-azure-button {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 8px 0;
  width: max-content;
  box-sizing: border-box;
  background: #e6e6e6;
}
.social-icon img {
  width: 24px;
  height: 24px;
}
.social-icon {
  height: 24px;
}
.social-icons {
  margin: 8px 0;
  display: flex;
  gap: 8px;
  margin-left: 12px;
}
.social-flex {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
.col-12-width {
  height: 12px;
  padding: 12px;
}
.footer-container {
  padding: 0 12px;
  background: #f2f2f2;
}
.footer-grid-item {
  padding: 0 12px;
}
.footer-item-heading {
  padding: 36px 0 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #616161;
}
.footer-item-content {
  padding: 8px 0;
  font-size: 11px;
  line-height: 16px;
  color: #616161;
}
.footer-final-column {
  padding: 30px 12px 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-final-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer-final-item span {
  font-size: 11px;
  line-height: 16px;
  color: #616161;
}
.footer-final-item {
  display: flex;
  align-items: center;
  padding-right: 24px;
  flex-wrap: wrap;
}
.footer-svg {
  margin: 8px 0 16px;
  padding: 4px 24px 0 0;
}
.footer-svg span {
  margin-right: 5px;
}
.footer-spans span {
  padding: 6px 10px 0 0;
}
.footer-spans {
  margin: 12px 0 3px;
}
footer {
  padding-bottom: 30px;
  background: #f2f2f2;
}
@media screen and (min-width: 540px) {
  .mobile-banner-row-1 {
    padding: 0 64px;
  }
  .banner-buttons {
    flex-direction: row;
  }
  .section-one-container {
    padding: 0 64px;
  }
  .featured-news-card-content {
    padding-right: 24px;
  }
  .container {
    padding: 0 64px;
  }
  .section-five-container {
    background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-Interactive-Demo-BG?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=1968&qlt=100&fmt=png-alpha&fit=constrain);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .auzre-global-button-parent {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .azure-global-button {
    width: fit-content;
  }
  footer {
    padding: 0;
  }
}

@media screen and (min-width: 860px) {
  .mobile-nav {
    display: none;
  }
  .des-nav {
    display: block;
  }
  .azure-bar {
    display: none;
  }
  .hero-banner-des {
    display: block;
  }
  .des-nav-child {
    margin-top: -2px;
    display: flex;
    padding: 0 24px;
    box-sizing: border-box;
    position: relative;
  }
  .des-nav-part-2 {
    display: flex;
  }

  .des-nav-button span svg {
    width: 15px;
  }
  .des-nav-logo {
    width: 137px;
    padding: 16px 6px 16px 10px;
    box-sizing: border-box;
  }
  .des-nav-logo img {
    width: 108px;
  }
  .des-nav-name {
    font-size: 18px;
    font-weight: 600;
    font-family: "Seoge UI-Semibold";
    margin-top: -3px;
    padding: 16px 6px 16px 10px;
    display: flex;
    align-items: center;
  }
  .des-name-parent {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .des-name-parent span {
    width: 1px;
    border-left: 2px solid #000;
    height: 24px;
    margin-left: 7px;
    margin-top: -1px;
    display: block;
  }
  .des-nav-text {
    display: flex;
    align-items: center;
    padding: 16px 17px 16px 15px;
    margin-right: -10px;
    margin-top: -2px;
    font-size: 13px;
    font-weight: 400;
    gap: 6px;
  }
  .des-nav-text span {
    font-size: 16px;
    font-weight: 500;
    margin-top: -5px;
  }

  .des-nav-part-3 {
    position: absolute;
    right: 30px;
    display: flex;
  }
  .search-icon img {
    height: 18px;
    width: 16px;
  }
  .search-icon {
    margin-top: 2px;
    width: 36px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .des-nav-part-3-two {
    display: flex;
  }
  .des-nav-get-button {
    display: flex;
    align-items: center;
    background: #0078d4;
    color: #fff;
    height: 31px;
    margin: 11px 8px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .des-nav-get-button span {
    margin-bottom: 3px;
    font-size: 13px;
  }
  .des-nav-sign-button span {
    margin-bottom: 3px;
    font-size: 13px;
  }
  .des-nav-sign-button {
    display: flex;
    align-items: center;
    background: transparent;
    color: #000;
    height: 31px;
    margin: 11px 8px;
    padding: 0 8px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .des-nav-part-3-two {
    display: none;
  }
  .des-nav-text:last-child {
    display: none;
  }
  .search-icon span {
    display: none;
  }

  /* nav ends here  */

  .hero-banner-mobile {
    display: none;
  }
  .hero-banner-des-child {
    background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-hero-BG?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=1264&qlt=100&fit=constrain);
    box-sizing: border-box;
    padding: 99px 0 96px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .des-banner-layout {
    display: flex;
    align-items: center;
    min-height: 388px;
  }
  .des-banner-layout-col-2 {
    flex: 1;
  }
  .des-banner-layout-col-1 {
    flex: 1;
  }
  .margin_32-col {
    margin: 0;
  }
  .azure-banner-heading {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2px;
  }
  .azure-banner-content {
    margin-top: 24px;
    padding-right: 60px;
  }
  .banner-buttons {
    margin-top: 32px;
  }
  .button-blue {
    padding: 12px 16px;
  }
  .button-green {
    padding: 12px 16px;
  }
  .des-banner-container {
    height: 436px;
  }
  .container {
    padding: 0 56px;
  }
  .dropdown-button:nth-child(n + 2) {
    display: block;
  }
  .dropdown-button:nth-child(1) {
    padding-left: 4px;
    border-bottom: 4px solid #0078d4;
  }
  .dropdown-button {
    margin: 0;
    border-bottom: none;
    width: fit-content;
    padding: 0;
    border-bottom: 4px solid transparent;
  }
  .dropdown-button-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.48px;
    padding-bottom: 16px;
    margin-top: 16px;
  }
  .dropdown-button span {
    display: none;
  }
  .secondary-nav {
    margin-top: -4px;
  }
  .secondary-nav-child {
    justify-content: space-between;
  }
  .secondarynav-child-part-1 {
    flex-wrap: wrap;
    row-gap: 0px;
  }
  .featured-news-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    margin-top: 48px;
  }
  .card-content {
    padding: 24px;
  }
  .featured-news-buttons {
    margin-top: 48px;
  }
  .section-one {
    padding: 96px 0;
  }
  .solutions-columns {
    margin-top: 24px;
    display: flex;
    position: relative;
  }
  .solution-second-column-top {
    display: none;
  }

  .video-preview-img-parent {
    display: flex;
    justify-content: end;
  }
  .video-preview {
    position: absolute;
    right: 0;
    top: 0;
  }
  .video-preview-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .solutions-dropdowns {
    flex-basis: calc(33% - 8px);
    max-height: 492px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .solutions-dropdown-item{
  margin-left: 48px;

  }
  .solutions-dropdown-item:nth-child(1) {
    display: block;
  }
  .solutions-dropdown-item:nth-child(1) {
    display: block;
    border-top: 1px solid #bdc5d2;
  }
  .solutions-dropdown-item:nth-child(2) {
    border-top: none;
  }
  .solutions-dropdown-item{
    display: block;
  }
  .solutions-item-first-child{
    display: flex;
  }
  .solutions-item-indicator{
    width: 4px;
    height: 190px;
    background-color: #0078d4;
    display: block;
  }
  .section-two {
    background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_desktop-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=980&qlt=100&fmt=png-alpha&fit=constrain);
    background-size: cover;
  }
  .section-three-container {
    padding: 96px 0;
  }
  .product-service-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 16px;
  }
  .product-service-grid-item {
    padding: 24px;
  }
  .product-service-item-img {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }
  .products-services-column {
    padding-right: 8px;
  }
  .product-service-item-img img {
    width: 32px;
    height: 32px;
  }
  .product-grid-item-heading {
    margin-bottom: 16px;
  }
  .product-grid-item-content {
    margin-bottom: 16px;
  }
  .product-service-column-button {
    width: fit-content;
    padding: 12px 16px;
  }
  .product-grid-content {
    padding: 24px;
  }

  .gartner-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .gartner-contents {
    max-width: 50%;
    padding: 24px 56px 24px 24px;
    box-sizing: border-box;
  }
  .gartnerimg img {
    height: 99%;
    aspect-ratio: 1.33333;
  }
  .section-four-container {
    padding: 72px 0;
  }
  .section-five-container {
    background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-Interactive-Demo-BG?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=1968&qlt=100&fmt=png-alpha&fit=constrain);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .azure-global-column {
    padding-right: 8px;
  }
  .section-six-container {
    padding: 96px 0;
  }
  .azure-global-heading {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2px;
    font-weight: 400;
  }
  .azure-global-contents {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    line-height: 28px;
    padding: 0 48px;
    margin-top: 24px;
  }
  .resourse-by-role-img {
    width: 66.6%;
    margin: 0 auto;
    margin-top: 32px;
  }
  .resource-by-role-column {
    padding: 32px 0 72px;
  }
  .auzre-global-button {
    margin-top: 32px;
  }
  .customer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .customer-item-flex {
    padding: 24px;
  }
  .customer-flex-item-2 {
    margin-top: 32px;
  }
  .products {
    flex-wrap: wrap;
    gap: 16px;
    align-items: start;
  }
  .case-study-button {
    margin-top: 32px;
    width: fit-content;
  }
  .customer-grid-img {
    height: 100%;
    padding: 8px 8px 8px 0;
  }
  .customer-grid-img img {
    height: 100%;
    object-fit: cover;
  }

  .section-seven-container {
    padding: 72px 0;
  }
  .customer-item-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .arrow-buttons {
    display: none;
  }
  .customer-section-nav {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
  }
  .customer-section-item img {
    width: 100%;
  }
  .customer-section-item {
    padding: 16px;
    border: 1px solid #bdc5d2;
    background-color: #fff;
    width: 200px;
  }
  .customer-section-item:nth-child(1) {
    border-bottom: 4px solid #005597;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .customer-section-item:nth-child(5) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .next-step-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
  }
  .next-step-card-item-contents {
    padding: 24px;
    height: 100%;
  }
  .next-step-card-title {
    padding-right: 32px;
    margin-bottom: 16px;
  }
  .next-step-card-content {
    padding-right: 32px;
    height: fit-content;
  }
  .next-step-card-item-contents .featured-news-buttons {
    margin-top: 48px;
  }
  .next-step-card-item-flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-final-container {
    background: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-3up-icon-card-BG?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=1024&qlt=100&fmt=png-alpha&fit=constrain);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .col-12-width {
    display: none;
  }
  .section-pre-footer {
    padding: 24px 0;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-spans {
    justify-content: flex-end;
  }
  .footer-spans span {
    padding: 0 24px 4px 0;
  }
  .footer-final-column {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-final-column-part-1 {
    display: flex;
  }
  .customer-column {
    margin-top: 32px;
  }
}
/* 860 end  */
@media screen and (min-width: 1084px) {
  .des-nav-text:nth-child(n + 2) {
    display: none;
  }
  .des-nav-text:last-child {
    display: flex;
  }
  .des-nav-text-2 {
    display: flex;
    align-items: center;
    padding: 16px 17px 16px 15px;
    margin-right: -14px;
    margin-top: -4px;
    font-size: 13px;
    font-weight: 400;
  }
  .des-nav-text-2:nth-child(3) {
    margin-right: -10px;
  }
  .search-icon {
    padding-right: 10px;
  }
  .des-nav-part-3-two {
    display: flex;
    margin-top: 3px;
  }
  .des-nav-child {
    padding: 0 5%;
  }
  .des-nav-part-3 {
    right: 5.2%;
  }
  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .footer-container {
    padding: 0 5%;
  }
  .footer-grid-item:nth-child(1) {
    padding: 0 12px 0 0;
  }
}
@media screen and (min-width: 1108px) {
  .des-nav-text:nth-child(2) {
    display: flex;
  }
  .des-nav-text:last-child {
    margin-left: -4px;
  }
}
@media screen and (min-width: 1205px) {
  .des-nav-text:nth-child(3) {
    margin-left: -4px;
    display: flex;
  }
}
@media screen and (min-width: 1286px) {
  .des-nav-text:nth-child(4) {
    margin-left: -4px;
    display: flex;
  }
}
@media screen and (min-width: 1376px) {
  .des-nav-text:nth-child(5) {
    margin-left: -4px;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1328px;
    padding: 0 5%;
    margin: 0 auto;
    box-sizing: content-box;
  }

  .azure-banner-heading {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.4px;
  }
  .azure-banner-content {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.6px;
  }
  .azure-preheading {
    margin-bottom: 16px;
  }
  .section-heading {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }
  .section-preheading {
    margin-bottom: 8px;
  }
  .featured-news-card-heading {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.6px;
  }
  .featured-news-card-content {
    margin-top: 16px;
  }
  .featured-news-img img {
    border-radius: 16px;
  }
  .featured-news-grid {
    padding-right: 8px;
  }
  .card {
    border-radius: 24px;
  }
  .solutions-column {
    margin-top: 32px;
  }
  .scroll-item {
    padding: 8px 24px;
  }
  .scroll-item span {
    line-height: 24px;
  }
  .products-services-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
  }
  .product-service-grid {
    grid-column: 2/5;
  }

  .product-service-img {
    margin-top: 14px;
    height: 100%;
  }
  .product-grid-content {
    padding-bottom: 32px;
  }
  .product-service-img img {
    height: 100%;
    aspect-ratio: 1.2;
    object-fit: cover;
  }
  .gartner-contents {
    padding: 24px 72px 24px 24px;
  }
  .customer-text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.2px;
    margin-top: 16px;
  }
  .customer-item-flex {
    padding: 24px 72px 24px 24px;
  }
  .next-step-card-title {
    font-size: 20px;
  }
  .next-step-heading {
    font-size: 40px;
  }
  .next-step-column {
    margin-top: 48px;
  }
  .section-final-container {
    padding: 96px 0;
  }
}
@media screen and (min-width: 1460px) {
  .des-nav-text:nth-child(6) {
    display: flex;
  }
  .des-nav-text:last-child {
    display: none;
  }
  .search-icon {
    width: 78px;
    margin-right: 12px;
  }
  .search-icon span {
    display: block;
    padding-right: 20px;
  }
  .des-nav-part-3 {
    right: 5%;
  }
}
